/* bienvenue.css */

@import url('style.css');

main {
    background: url('ImageRessource/Paysage2.JPG') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Réduire la hauteur pour le footer */
    color: #FFF; /* Couleur du texte en blanc pour contraste */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Pour rendre le texte plus lisible */
}

.message-container {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.message-container h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background: #FFF8F0;
    color: #000000;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* Ajuster la hauteur pour s'assurer qu'elle est uniforme */
}
