@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background: #F7E0DE; /* Background color */
}

header {
    background: #FFF8F0;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 100px;
    border: 2px solid #CEEBBF;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 20px;
    color: #000000;
    transition: background 0.3s, color 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #CEEBBF;
    color: #FFF8F0;
}

.navbar-light .navbar-nav .btn-primary {
    background-color: #3891A6;
    border-color: #3891A6;
    color: #FFF8F0;
}

.navbar-light .navbar-nav .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand img.logo {
    width: auto; /* Ensuring the aspect ratio is maintained */
    height: 80px; /* Keeping the logo at a fixed height */
    transition: transform 0.3s ease;
}

.navbar-brand img.logo:hover {
    transform: scale(1.1);
}

footer {
    background: #FFF8F0;
    color: #000000;
    padding: 20px;
}
